@import './variables';

*, *:after, *:before {
  box-sizing: border-box;
}

img {
  display: block;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}

.main {
  max-width: $max-main-width;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin-bottom: 0.2em;
}

.btn {
  background-color: $color--btn;
  border: none;
  color: black;
  padding: .5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: $border-radius;
  cursor: pointer;
  transition: opacity 200ms;

  &:hover, &:focus {
    opacity: 0.8;
  }

  &-primary {
    background-color: $color--primary;
    color: white;
  }

  &-danger {
    background-color: $color--secondary;
    color: white;
  }

  &-outline {
    background: transparent;
  }
}

a {
  text-decoration: none;
  color: $color--anchor;

  &:hover, &:focus {
    text-decoration: underline;
  }
}
